$top: 10px;

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: $top;
        transform: rotate(0);
    }
    100% {
        top: $top;
        transform: rotate(45deg);
    }
}

@keyframes top-back {
    0% {
        top: $top;
        transform: rotate(45deg);
    }
    50% {
        top: $top;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(0);
    }
}

@keyframes middle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes middle-back {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: $top;
        transform: rotate(0);
    }
    100% {
        bottom: $top;
        transform: rotate(135deg);
    }
}

@keyframes bottom-back {
    0% {
        bottom: $top;
        transform: rotate(135deg);
    }
    50% {
        bottom: $top;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}