.nav {
  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  &__link {
    font-family: $font-family;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: $color-black;
    text-decoration: none;
    padding-block: 7px;

    @extend %underline;
  }
}
